.container {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}

.heading {
    text-align: center;
    background: #FF5722;
    background: -webkit-linear-gradient(to right, #FF5722 0%, #916ECF 99%);
    background: -moz-linear-gradient(to right, #FF5722 0%, #916ECF 99%);
    background: linear-gradient(to right, #FF5722 0%, #916ECF 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
